.App {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  .header {
    width: 100%;
    height: 3rem;
    padding: 0.5rem 1rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(54, 54, 54);

    p {
      color: #09bbbb;
    }

    .active-header-tab {
      color: #09bbbb;

      &:hover {
        cursor: default;
      }
    }
  }

  .content {
    height: calc(100% - 3rem);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;

    .file-upload-container {
      height: 100%;
      flex: 1;
      min-width: 20rem;
      max-width: 25rem;
      border-right: 1px solid gray;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;

      span {
        width: calc(100% - 4rem);
        border-bottom: 1px solid lightgray;
      }

      .file-upload {
        width: 100%;
        padding: 1rem;
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        .file-upload-header {
          height: 10%;
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          font-weight: bold;
        }

        .file-upload-content {
          height: 90%;
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          .check-button {
            width: 5rem;
            height: 2rem;
            border: none;
            outline: none;
            background-color: #363636;
            color: white;
            border-radius: 5px;
            font-size: 0.9rem;

            &:hover {
              cursor: pointer;
              background-color: #363636;
            }
          }
        }
      }
    }

    .results-container {
      height: 100%;
      flex: 2.5;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      padding: 1rem;
      position: relative;

      .results-container-header {
        height: 5%;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        font-weight: bold;
      }

      .results-container-content {
        height: 95%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        .section-divider {
          width: calc(100% - 2rem);
          border-bottom: 1px solid lightgray;
        }

        .results-section {
          height: 50%;
          width: 100%;
          padding: 1rem;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: center;

          .results-section-header {
            height: 20%;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;

            .discrepancy-type {
              text-decoration: underline;
              margin-bottom: 0.5rem;
            }

            .discrepancy-type-description {
              font-style: italic;
              color: gray;
            }
          }

          .results {
            height: 80%;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;

            .results-header {
              margin-bottom: 0.5rem;

              p {
                font-weight: bold;
              }
            }

            .results-header {
              width: 100%;
              display: flex;
              flex-direction: row;
              justify-content: space-around;
              align-items: center;

              p {
                flex: 1;
                margin: 0 0.25rem;
              }
            }

            .results-row-container {
              width: 100%;
              display: flex;
              flex-direction: column;
              overflow: auto;

              .results-row {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
                margin-bottom: 0.25rem;

                p {
                  flex: 1;
                  margin: 0 0.25rem;
                }
              }
            }
          }

          .no-discrepancies-container {
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            i {
              font-size: 2.5rem;
              margin-bottom: 0.5rem;
              color: green;
            }
          }
        }
      }

      .made-with-container {
        position: absolute;
        bottom: 0;
        right: 0;
        font-size: 0.8rem;
        margin: 0.25rem 0.5rem;

        .heart-emoji {
          margin-right: 0.25rem;
        }

        .signature-link {
        }
      }
    }

    .number-circle {
      height: 1.5rem;
      min-height: 1.5rem;
      width: 1.5rem;
      min-width: 1.5rem;
      margin-right: 0.75rem;
      border-radius: 50%;
      border: 2px solid black;
      color: black;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      font-size: 1rem;
      font-weight: bold;
    }
  }
}
